img{
  height: 500px;
  width: 500px;
}

.typewriter-container{
  height: 75px;
  overflow: hidden;
  display: flex;
}

h1 {
  transition: opacity 0.5s ease-in-out; 
}

.App {
  text-align: center;
  margin-top: 50px;
}

p {
  font-size: 24px;
  font-weight: bold;
}

.contact{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2em;
}
